@model Uni_Shop.ModelDBs.NongSan

@{
    ViewData["Title"] = "NongSanChiTietDoiTac1";
    Layout = "~/Areas/Partner/Views/Shared/_Layout.cshtml";
}

<head>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Partner/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/Partner/css/style.css" rel="stylesheet">

</head>

<body>


    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->



    <div class="main-wrapper">

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            @*<div class="row page-titles mx-0">
                    <div class="col p-md-0">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="Index">Trở Về</a></li>
                            <li class="breadcrumb-item active"><a asp-action="Edit">Sửa Thông Tin</a></li>
                        </ol>
                    </div>
                </div>*@




            <!-- row -->
            <div class="container-fluid">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <a asp-action="gianghang" asp-controller="Home" asp-area="DoiTac">
                                        <i class="fa fa-home"></i> Gian Hàng Cá Nhân
                                    </a> |
                                    <a asp-action="Index" asp-controller="Home" asp-area="DoiTac">
                                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                                        Trở Về
                                    </a>
                                </div>
                            </div><!--Điều hướng-->
                            <h4 class="card-title" align="center">Sửa Thông Tin</h4>
                            <div class="basic-form">
                                <form asp-action="EditUpLoadImg" asp-area="Partner" asp-controller="Home" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="MaNongSan" />
                                    <div class="form-row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="MaLoaiNongSan" class="control-label">Loại Nông Sản</label>
                                                <select asp-for="MaLoaiNongSan" class="form-control" asp-items="ViewBag.temp1"></select>
                                                <span asp-validation-for="MaLoaiNongSan" class="text-danger">*</span>
                                            </div><!--Loại Nông Sản-->
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="MaGianHang" class="control-label">Gian Hàng</label>
                                                <select asp-for="MaGianHang" class="form-control" asp-items="ViewBag.temp3"></select>
                                                <span asp-validation-for="MaGianHang" class="text-danger">*</span>
                                            </div><!--Gian hàng-->
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="MaDonViTinh" class="control-label">Đơn Vị Tính</label>
                                                <select asp-for="MaDonViTinh" class="form-control" asp-items="ViewBag.temp2"></select>
                                                <span asp-validation-for="MaDonViTinh" class="text-danger">*</span>
                                            </div><!--Đơn vị-->
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="TenNongSan" class="control-label">Tên Nông Sản</label>
                                                <input asp-for="TenNongSan" class="form-control" required />
                                                <span asp-validation-for="TenNongSan" class="text-danger"></span>
                                            </div><!--Tên NS-->
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="TrongLuong" class="control-label">Trọng Lượng</label>
                                                <input asp-for="TrongLuong" class="form-control" required />
                                                <span asp-validation-for="TrongLuong" class="text-danger"></span>
                                            </div><!--Trọng lượng-->
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="SoLuong" class="control-label">Số Lượng</label>
                                                <input asp-for="SoLuong" class="form-control" required />
                                                <span asp-validation-for="SoLuong" class="text-danger"></span>
                                            </div><!--Số Lượng-->
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="Gia" class="control-label">Giá Bán</label>
                                                <input asp-for="Gia" class="form-control" required />
                                                <span asp-validation-for="Gia" class="text-danger"></span>
                                            </div><!--Giá-->
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="MoTa" class="control-label">Mô Tả</label>
                                                <input asp-for="MoTa" class="form-control" />
                                                <span asp-validation-for="MoTa" class="text-danger"></span>
                                            </div><!--Mô Tả-->
                                        </div>
                                    </div>


                                    <div class="form-col">
                                        <div align="center">
                                            <h3 align="center">Xác Nhận Thông Tin</h3>
                                            <div class="form-group">
                                                <button type="reset" class="btn btn-dark">Đặt Lại</button>
                                                <input type="submit" value="Save" class="btn btn-primary">
                                            </div>
                                        </div>
                                    </div><!--Xác nhận-->

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/Partner/plugins/common/common.min.js"></script>
    <script src="~/Partner/js/custom.min.js"></script>
    <script src="~/Partner/js/settings.js"></script>
    <script src="~/Partner/js/gleek.js"></script>
    <script src="~/Partner/js/styleSwitcher.js"></script>

</body>
